In [77]:
import numpy as np
import pandas as pd

In [78]:
three_month_back_data = pd.read_excel("SA退还/三个月还款数据源.xlsx")
three_month_back_data['贷款编号'] = three_month_back_data['贷款编号'].astype('O')
three_month_back_data = three_month_back_data.drop_duplicates("贷款编号")
three_month_back_data=three_month_back_data.reset_index(drop=True) #重置索引

In [79]:
M2_plus_penalty_all = pd.read_excel("扣罚汇总/M2+扣罚汇总.xlsx")
M2_penalty_all = pd.read_excel("扣罚汇总/首次M2扣罚汇总.xlsx")
M2_penalty_all['贷款编号'] = M2_penalty_all['贷款编号'].astype('O')
M2_plus_penalty_all['贷款编号'] = M2_plus_penalty_all['贷款编号'].astype('O')

#M2_penalty_all['扣押月份'] = M2_penalty_all['扣押月份'].astype('O')
#M2_plus_penalty_all['扣押月份'] = M2_plus_penalty_all['扣押月份'].astype('O')

#M2_penalty_all['退还月份'] = M2_penalty_all['退还月份'].astype('O')
#M2_plus_penalty_all['退还月份'] = M2_plus_penalty_all['退还月份'].astype('O')

M2_plus_penalty_all_1 = M2_plus_penalty_all[["贷款编号","扣押月份","退还月份"]]
M2_penalty_all_1 = M2_penalty_all[["贷款编号","扣押月份","退还月份"]]

In [80]:
three_month_back_data_1 = pd.merge(three_month_back_data,M2_penalty_all_1,
                                   on="贷款编号",how="left")
three_month_back_data_2 = pd.merge(three_month_back_data,M2_plus_penalty_all_1,
                                   on="贷款编号",how="left")


for i in range(len(three_month_back_data_1)):
    if np.isnan(three_month_back_data_1.loc[i,"扣押月份"])==True:
        three_month_back_data_1.drop([i],inplace=True)
        
three_month_back_data_1=three_month_back_data_1.reset_index(drop=True)

In [81]:
for i in range(len(three_month_back_data_1)):
    if np.isnan(three_month_back_data_1.loc[i,"退还月份"]) == False:
        three_month_back_data_1.drop([i],inplace=True)
    else:
        pass

three_month_back_data_1=three_month_back_data_1.reset_index(drop=True)
three_month_back_data_1

                 贷款编号      SA工号         SA姓名    连续还款日期      扣押月份  退还月份
0  150302017123004418  10120044           贾璐  20180310  201802.0   NaN
1  469002017122901603   3130048          陈明星  20180311  201802.0   NaN
2  522302017123006239  25250215           杨优  20180309  201802.0   NaN
3  522602017122302345  16190020          潘胜英  20180321  201802.0   NaN
4  532602017122704361  25170056          杨其云  20180325  201802.0   NaN
5  610102017062903327  25250164          延亚东  20180327  201708.0   NaN
6  622902017122401379  13100106           马健  20180307  201802.0   NaN
7  654002017122004799   6250084          方园园  20180319  201802.0   NaN
8  654202017123003906   2080018  巴合提巴拉·斯太尔别克  20180314  201802.0   NaN
9  654302017122705117   7260058           耿智  20180306  201802.0   NaN